<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.system.mapper.RoleMenuMapper">

    <!--查询角色菜单-->
    <select id="findRoleMenuList" parameterType="com.qingfeng.utils.PageData" resultType="com.qingfeng.utils.PageData">
        select
            a.menu_id as "menu_id",
            ifnull(b.num,0) as "child_num"
            from system_role_menu a
            left join (
                select count(*) as "num",a.parent_id as "parent_id" from system_menu a left join system_role_menu b on a.id=b.menu_id
                where b.role_id = #{role_id}
                group by a.parent_id
            ) b on a.menu_id=b.parent_id
            where a.role_id=#{role_id}
    </select>


    <!--删除角色菜单-->
    <delete id="delRoleMenu" parameterType="com.qingfeng.utils.PageData">
        delete from system_role_menu where 1=1
        <if test="role_id != null and role_id != ''">
            and role_id=#{role_id}
        </if>
        <if test="role_ids != null and role_ids.size > 0">
            and role_id in
            <foreach collection="role_ids" item="role_id" open="(" separator="," close=")">
                #{role_id}
            </foreach>
        </if>
        <if test="menu_ids != null and menu_ids.size > 0">
            and menu_id not in
            <foreach collection="menu_ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

<!--        <if test="menu_ids != null and menu_ids.size > 0">-->
<!--            and menu_id in-->
<!--            (-->
<!--            select a.id from (-->
<!--            <foreach collection="menu_ids" item="id" open="(" separator="union all" close=")">-->
<!--                select id from system_menu-->
<!--                where menu_cascade like-->
<!--                concat('%',concat((select a.menu_cascade from (select id,menu_cascade from system_menu) a where a.id-->
<!--                in (-->
<!--                #{id}-->
<!--                ) ),'%'))-->
<!--            </foreach>-->
<!--            ) a-->
<!--            )-->
<!--        </if>-->
    </delete>


</mapper>